<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-capeju/blob/main/Modulo_4_IBM_MNADataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Abrir un archivo con la función Open**

File1 = open ("/resources/data/Example2.txt", "w")

/resources/data es el directorio
Example2.txt es el nombre del archivo
w para writing y r para reading, esto es el modo

**Usando "with statement"**

with open ("Example1.txt", "r") as File1:
  file_stuff=File1.read()

  print(file_stuff)

print(File1.closed)
print(file_stuff)

In [88]:
#### Reading Files with Open ####

df.to_csv("Ejemplo1.txt") #Cargar archivo

#Así puedo hacerlo en jupyter
#path = "C:\\Users\\carlo\\Documents\\MNA-V TEC MONTERREY\\Ciencia de Datos\\Prueba1.txt" 
#file1 = open (path,"r")

In [80]:
# Writing Files with Open

with open("Ejemplo1.txt","r") as archivo1:

  file_stuff=archivo1.read()

  print(file_stuff)

print(archivo1.closed)
print(file_stuff)

,a,b
0,1,1
1,2,1
2,1,1

True
,a,b
0,1,1
1,2,1
2,1,1

In [81]:
# Imprimiendo contenido

print(file_stuff)

,a,b
0,1,1
1,2,1
2,1,1

In [85]:
# Imprimiendo en líneas diferentes

with open ("Ejemplo1.txt","r") as archivo1:

  file_stuff=archivo1.readlines()
  print(file_stuff)

[',a,b\n', '0,1,1\n', '1,2,1\n', '2,1,1\n']

In [86]:
# Imprimiendo en líneas diferentes usando un loop

with open ("Ejemplo1.txt","r") as archivo1:

  for line in archivo1:
    print(line)

,a,b

0,1,1

1,2,1

2,1,1

In [96]:
#### Writing Files with Open ####

df.to_csv("Ejemplo2.txt") #Cargar archivo

archivo2=open("Ejemplo2.txt","w")

with open("Ejemplo2.txt","w") as archivo2:

  archivo2.write ("Esta es la línea A")

# Si quiero escibir dejando espacio entre líneas uso: \n

  archivo2.write("Esta es la línea A\n")
  archivo2.write("Esta es la línea B\n")

# Otra forma

Lineas = ["Esta es la línea A\n","Esta es la línea B\n","Esta es la línea C\n"]
with open("Ejemplo2.txt","w") as archivo2:

  for line in Lineas:

    archivo2.write(line)
    print(line)

Esta es la línea A

Esta es la línea B

Esta es la línea C

In [98]:
# Escribiendo sobre diferentes archivos

with open("Ejemplo1.txt","r") as readfile:

  with open("Ejemplo3.txt","w") as writefile:

              for line in readfile:

                        writefile.write(line)
                        print(line)

,a,b

0,1,1

1,2,1

2,1,1

In [41]:
#### Loading Data with Pandas ####
import pandas as pd
#Dataframes
songs={'Album':['Thriller', 'Back in Black', 'The Dark Side of the Moon','The Bodyguard', 'Bat Out of Hell'],
      'Released':[1982,1980,1973,1992,1977], 
      'Length': ['00:42:19','00:42:11','00:42:49','00:57:44','00:46:33']}

songs_frame=pd.DataFrame(songs)
songs_frame

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

In [37]:
import pandas as pd
#Creando dataframe con los datos de una de las columnas
songs={'Album':['Thriller', 'Back in Black', 'The Dark Side of the Moon','The Bodyguard', 'Bat Out of Hell'],
      'Released':[1982,1980,1973,1992,1977], 
      'Length': ['00:42:19','00:42:11','00:42:49','00:57:44','00:46:33']}

songs_frame=pd.DataFrame(songs)
songs_frame
print(songs['Released'])

[1982, 1980, 1973, 1992, 1977]

In [31]:
#Question 2 Usando Loading Data with Pandas

import pandas as banana
df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
# Working with and Saving Data with Pandas

df=songs_frame()
df['Released']>=1980

In [38]:
# Question 1 Working with and Saving Data with Pandas

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [44]:
#Question 2

df.to_csv("file.csv") #Guardar Data Frame

In [99]:
#LABORATORIO

# Read data from CSV file
import urllib.request
csv_path = "https://us-usda-gov.linked.data.world/d/1acabe89-2436-428d-ab7b-fa17b725bf55/file/comma-separated-values-file-2.csv"
filename = 'comma-separated-values-file-2.csv'
urllib.request.urlretrieve(csv_path, filename)

('comma-separated-values-file-2.csv',
 <http.client.HTTPMessage at 0x7f3896ec8a90>)

In [108]:
#Review Question

#Question 1

with open("Ejemplo1.txt","r") as file1:

  FileContent=file1.readlines()

  print(FileContent)

[',a,b\n', '0,1,1\n', '1,2,1\n', '2,1,1\n']

In [111]:
#Question 2

with open("Ejemplo2.txt","w") as writefile:

  writefile.write("This is line A\n")

  writefile.write("This is line B\n")

In [113]:
# Question 3

with open("Ejemplo3.txt","a") as file1:

  file1.write("This is line C\n")

In [115]:
# Question 4

# What is the result of applying the following method df.head() to the dataframe "df"?