# CIENCIA Y ANALÍTICA DE DATOS

Estudiante: Carlos Jesús Peñaloza Julio
Matrícula: A01793931


# Pre-Processing Data in Python

El preprocesamiento de datos también es llamado "data cleaning" o "data wrangling"

Los objetivos del módulo son:

1.Identify and handle missing values
2.Data formatting
3.Data normalization(centering/scaling)
4.Data binning
5.Turning categorical values to numeric variables

Dealing with missing values in Python
DROP THE MISSING VALUES
1.Drop the variable
2.Drop the data entry

REPLACE THE MISSING VALUES
1.Replace it with an average(of similar datapoints)
2.Replace it by frequency
3.Replace it based on other functions

How to drop missing values in Python

1.Para remover NaN, es decir, valores perdidos se puede usar dropna

dataframes.dropna():

Se puede escoger la fila o columna en la que quieres aplicar drop, para especifircarlo hay que colocar:
axis = 0 para filas
axis = 1 para columnas

2.Para modificar el dataframe hay que colocar inplace = True
Por ejemplo: df.dropna(subset=['price'], axis=0, inplace=True)
El inplace in true permite que la modificación se haga directamente en el dataset.

How to replace missing values in Python

Usar: dataframe.replace(missing_value, new_value):

Por ejemplo si tienes un NaN en una celda, primero debería calcularse el promedio (mean) de la columna y luego aplicar replace

mean = df["normalized-losses"].mean()
df["normalized-losses"].replace(np.nan,mean)

Data Formatting in Python

Los datos son usualmente colectados desde diferentes lugares y almacenados en diferentes formatos.

Data formatting significa llevar los datos a un estándar común de expresión que permite a los usuarios hacer comparaciones significativas.

Se pueden ordenar los datos de tal manera que estén homogeneos, por ejemplo pasar de NY, New York o N.Y a simplemente New York

También se pueden hacer conversiones de unidades, por ejemplo, con df["city-mpg"] = 235/df["city-mpg"]

Luego se pueden renombrar columnas con df.rename(columns={"city_mpg":"city-L/100km"}. inplace=True)

Siempre es importante revisar con qué tipo de dato se está trabajando y si es necesario cambiar el tipo esto se hace respectivamente con:

dataframe.dtypes() para identificar tipo de dato
dataframe.astype() para convertir tipo de dato

In [ ]:
#Data Normalization in Python

#Supongamos una tabla con las columnas length, width y height y queremos normalizar length
#Existen métodos para normalización de datos:
#1.Simple Feature Scaling:
#df["length"] = df["length"]/df["length"].max()

#2.Min-Max:
#df["length"] = (df["length"]-df["length"].min()) / (df["length"].max()-df["length"].min())

#3.Z-score
#df["length"] = (df["length"]-df["length"].mean()) / df["length"].std()

Binning in Python

Supongamos una tabla de precios(price) y queremos crear bins(bloques) definidos por los valores del price, el código podría escribirse como:

bins = np.linspace(min(df["price"]),max(df["price"]),4)
group_names=["Low","Medium","High"]

Turning categorical variables into quantitative variables in Python

Esto es importante porque muchos modelos no pueden tomar objetos o strings como entrada, en ese caso es necesario hacer la conversión de una variable categórica a una cuantitativa.

En Pandas podemos usas pandas.get_dummies() para convertir una variable categórica a una variable dummy (0 o 1). Por ejemplo, si tenemos una columna nombrada como fuel y los datos de ella son gas y diesel podríamos escribir el código así:

pd.get_dummies(df['fuel'])

Con eso se consigue una nueva tabla con las columnas gas y diesel y los datos en cada una serían 0s y 1s.